<div class="container-fluid main">

  <div>
    <h3  id="contactheader" class="title">CONTACT US</h3>
  </div>
  <hr class="hr">

  <form>
    <div id="formone" class="form-group">
      <!-- <label for="name">Name:</label> -->
      <input type="name" class="form-control" id="name" placeholder="Enter Name">
    </div>
    <div id="formtwo"class="form-group">
      <!-- <label for="email">Email:</label> -->
      <input type="name" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div id="formthree"class="form-group">
      <!-- <label for="comment">Comment:</label> -->
      <textarea class="form-control" rows="5" id="comment" placeholder="Leave a Message"></textarea>
    </div>
    <button id="contactsubmit" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
