
<div class="container-fluid main">


  <img id="people" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAKVAAAAJDYxMGY0NzE5LWNlODYtNDIxZS1iMzk0LTRjMGM1ZDFmYWI1Mw.jpg" alt="people" >

  <div>
    <h3  class="title"> Your Opinion Matters! </h3>
  </div>
  <hr class="hr">

  <form id="login-form" action="#" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default" id="login-btn">LOG IN</button>
  </form>
</div>
