/* main page */
* {
  font-family: 'Lato', sans-serif;
}

html {
  background-color: #FFFFFF;
}

h3 {
  font-family: 'Hind Guntur', sans-serif;
}

.jumbotron {
  height: 100vh;
  text-align: center;
  position: relative;
  background: -webkit-linear-gradient(left top, #FC7864, #FDA366); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FC7864, #FDA366); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FC7864, #FDA366); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to obottom right, #FC7864, #FDA366); /* Standard syntax */
}


#arrow {
  display: block;
  margin-top: 5vh;
}

a svg:hover #arrowlink{
  stroke: lightgrey;
}

#brandname {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  line-height: inherit;
  letter-spacing: 3px;
  display: none;
  margin-top: 25vh;
}

.title{
  text-align: center;
}

.hr {
  margin-top: 0;
  width: 30vw;
}

.borderright {
  border-right: 1px solid lightgrey;
}

.main {
  width: 80vw;
  margin-bottom: 10%;
}

/* survey styling */
tr > th {
  text-align: center;
}

h4 {
  text-align: center;
}

label > .selectImage { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
}
label > img {
  opacity: 0.5;
    filter: alpha(opacity=50);
    height: 300px;
  border-radius: 10px
}
label > input:hover + img{ /* IMAGE STYLES */
  opacity: 1;
    filter: alpha(opacity=50);
  box-shadow: 0 4px 8px 0 rgba(252, 120, 100, 0.4), 0 6px 20px 0 rgba(252, 120, 100, 0.3);
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
  filter: alpha(opacity=50);
}

h4 + img {
  height: 400px;
  display: block;
  margin: 0 auto
}

label > input {
  text-align: center;
}
