<h4> Log in page</h4>

<h1>Please Log In</h1>

<form method="post" action="/users">
  <label for="user_title">Email</label><br>
  <input type="text" email="email" id="user_email" placeholder="john.smith@email.com"><br>
  <label for="user_title">Password</label><br>
  <input type="password" password="password" id="user_password"><br>


  <button>Sign Up!</button><br>
</form>
