
      <nav class="navbar" id="navigate">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <ul class="nav navbar-nav navbar-right">
                  <li><a id="logout" href="/logout">LOG OUT</a></li>
          </ul>
        </div><!-- /.container-fluid -->
      </nav>
