<h4> This is the new user sign up page</h4>

<h1>Sign Up Today!</h1>

<form method="post" action="/users">
  <label for="user_title">First Name</label><br>
  <input type="text" firstname="firstName" id="user_firstName" placeholder="Example: John"><br>
  <label for="user_title">Last Name</label><br>
  <input type="text" lastname="lastName" id="user_lastName" placeholder="Example: Smith"><br>
  <label for="user_title">Email</label><br>
  <input type="text" email="email" id="user_email" placeholder="john.smith@email.com"><br>
  <label for="user_title">Password</label><br>
  <input type="password" password="password" id="user_password"><br>


  <button>Sign Up!</button><br>
</form>
