<h4> User takes survey here </h4>

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<script src="js/survey.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>
