<div class="jumbotron">
  <h1 id="brandname">MILIEU</h1>

  <div id="arrow">
    <a href="#navigate">
      <svg width="70" height="40" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
        <path  id="arrowlink" d="M0,0 l35,50 l35,-50" fill="none" stroke="white" stroke-linecap="round" stroke-width="2" />
      </svg>
    </a>
  </div>
</div>
