<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur|Lato" rel="stylesheet">
    <title> Milieu | <%= title %> </title>
  </head>

  <body>
    <div class="jumbotron">
      <h1 id="brandname">MILIEU</h1>

      <div id="arrow">
        <a href="#navigate">
          <svg width="70" height="40" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
            <path  id="arrowlink" d="M0,0 l35,50 l35,-50" fill="none" stroke="white" stroke-linecap="round" stroke-width="2" />
          </svg>
        </a>
      </div>
    </div>

    <!-- navbar -->
    <nav class="navbar" id="navigate">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/#navigate">LOG IN</a></li>
          <li><a href="/about#navigate">ABOUT</a></li>
          <li><a href="/signup#navigate">SIGN UP</a></li>
          <li><a href="/contact#navigate">CONTACT US</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <%- body %>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
  </body>
</html>
