<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur|Lato" rel="stylhahesheet">
    <title> Milieu | <%= title %> </title>
  </head>

  <body>
    <div id="header">
      <a href="#" id="brandname">MILLIEU</a>
    </div>
    <!-- header -->
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">HOME</a></li>
          <li><a href="#">LOGIN</a></li>
        </ul>
      </div><!-- /.container-fluid -->
    </nav>

    <%- body %>;

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
  </body>
</html>
