<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Milieu </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>

    <div class="container">
      <h1> Welcome to Milieu | <%= title %> </h1>
      <%- body %>
    </div>
    <script type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>
