<!-- navbar -->
<nav class="navbar" id="navigate">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">LOG IN</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/user/new">SIGN UP</a></li>
      <li><a href="/contact">CONTACT US</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
